---
{
"title":"All type of Computerised Blood test and Other test"
}
---

<main>
  <div
    class="py-32 px-4 bg-gradient-to-b from-white to bg-primary-100 [clip-path:polygon(0_0,100%_0,100%_90%,0_100%);]">
    <h1 class="font-bold md:text-4xl text-3xl text-center">All type of Ultrasonic and Doppler</h1>
  </div>
  <section class="theame-container py-4 overflow-hidden">
    <div class="grid space-y-5 md:grid-cols-2 md:space-y-0">
      <div>
        <img src="<%- page.srcfix %>img/xray-room.jpg" alt="" class="rounded-3xl w-full max-w-sm mx-auto shadow-xl">
        <p class="max-w-sm mx-auto text-center text-primary-600 font-bold mt-2">Ultrasonic Machin</p>
      </div>
      <div class="space-y-2">
        <p>
          Mahavir Diagnostic Centre &
          Interventional Radiology Clinic is a centre run by Jain doctors with latest
          diagnostic equipment that offers radiology services managed and headed by radiologist & pathologist who
          report the scans blood tests themselves and interact with you AND YOUR DOCTOR to facilitate quick
          treatment and management.
        </p>
        </p>
        Being a centre owned and run by the doctor themselves they know the importance of accurate and fast
        diagnosis with quick reports to the patient. As regards to corporate our work is ethical and focussed entirely
        on
        providing optimal diagnosis with sympathy towards our patient. Here the patients get opportunity to
        interact and discuss the reports with the doctors for clearer
        insight regarding their illness.
        </p>
      </div>
    </div>
  </section>
  <section class="theame-container py-4 mt-5">
    <div class="grid md:grid-cols-4 gap-5 px-4 md:px-0">
      <div class="border p-4 space-y-2">
        <div class="w-20 aspect-square rounded-full bg-primary-200">
          <img class="w-20 aspect-square rounded-full bg-primary-200"
            src="https://img.icons8.com/external-flaticons-flat-flat-icons/100/000000/external-mri-plastic-surgery-flaticons-flat-flat-icons-2.png" />
        </div>
        <p class="font-bold">Machine</p>
        <p class="!mt-5">
          Siemens Mammomat Inspiration (FFDM) - 2D and 3D - with Tomosynthesis as well as facilities for Stereotactic
          Biopsy.
        </p>
      </div>

      <div class="border p-4 space-y-2">
        <div class="w-20 aspect-square rounded-full bg-primary-200">
          <img class="w-20 aspect-square rounded-full bg-primary-200"
            src="https://img.icons8.com/color/100/000000/clock--v1.png" />
        </div>
        <p class="font-bold">Time Takes</p>
        <p class="!mt-5">
          30 Min.
        </p>
      </div>

      <div class="border p-4 space-y-2">
        <div class="w-20 aspect-square rounded-full bg-primary-200">
          <img class="w-20 aspect-square rounded-full bg-primary-200"
            src="https://img.icons8.com/fluency/100/000000/medical-doctor.png" />
        </div>
        <p class="font-bold">Primary Expert</p>
        <p class="!mt-5">
          Dr. Darshan Jain.
        </p>
      </div>

      <div class="border p-4 space-y-2">
        <div class="w-20 aspect-square rounded-full bg-primary-200">
          <img class="w-20 aspect-square rounded-full bg-primary-200"
            src="https://img.icons8.com/stickers/100/000000/health-calendar.png" />
        </div>
        <p class="font-bold">Appointment</p>
        <p class="!mt-5">
          Required.
        </p>
      </div>

      <div class="border p-4 space-y-2">
        <div class="w-20 aspect-square rounded-full bg-primary-200">
          <img class="w-20 aspect-square rounded-full bg-primary-200"
            src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/66/000000/external-medical-report-medical-smashingstocks-flat-smashing-stocks-2.png" />
        </div>
        <p class="font-bold">Report Given</p>
        <p class="!mt-5">
          Next day.
        </p>
      </div>

      <div class="border p-4 space-y-2">
        <div class="w-20 aspect-square rounded-full bg-primary-200">
          <img class="w-20 aspect-square rounded-full bg-primary-200"
            src="https://img.icons8.com/cute-clipart/64/000000/user-manual.png" />
        </div>
        <p class="font-bold">Preparation/Instructions</p>
        <p class="!mt-5">
          Not required.
        </p>
      </div>
    </div>
  </section>
</main>