---
{
"title" : "about"
}
---

<main>
  <section>
    <h1 class="font-bold text-2xl m-16">About Mahavir Diagnostic Centre & Interventional Radiology Clinic</h1>
    <p class="mx-16 my-4">
      <img src="./img/19.jpg" alt="" class="inline">
      Mahavir Diagnostic Centre &
      Interventional Radiology Clinic is a centre run by Jain doctors with latest
      diagnostic equipment that offers radiology services managed and headed by radiologist & pathologist who
      report the scans blood tests themselves and interact with you AND YOUR DOCTOR to facilitate quick
      treatment
      and management.<br>
      Being a centre owned and run by the doctor themselves they know the importance of accurate and fast
      diagnosis
      with quick reports to the patient. As regards to corporate our work is ethical and focussed entirely on
      providing optimal diagnosis with sympathy towards our patient.<br>Here the patients get opportunity to
      interact and discuss the reports with the doctors for clearer
      insight
      regarding their illness.</p>
  </section>
</main>
<span class="transition-all duration-200 border-b-0 opacity-0 border-solid border-white absolute top-0 left-0 underline hidden md:inline"></span>