---
{
"title":"About - Mahavir Diagnostic Centre & Interventional Radiology Clinic"
}
---


<main>
  <section class="splide mx-auto" aria-label="Mahavir Diagnostic Centre & Interventional Radiology Clinic">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="./img/pathology-room.jpg" data-splide-lazy="./img/pathology-room.jpg" alt="Pathology Room">
        </li>
        <li class="splide__slide">
          <img src="./img/reception-waiting-area.jpg" data-splide-lazy="./img/reception-waiting-area.jpg"
            alt="Reception and waiting area">
        </li>
        <li class="splide__slide">
          <img src="./img/xray-room.jpg" data-splide-lazy="./img/xray-room.jpg" alt="X-ray room">
        </li>
      </ul>
    </div>
  </section>
</main>