---
{
  "title" : 'getting started with picogen',
  "layout": 'post',
  "image" : 'img/helo.png',
  "author" : 'picogen'
}
---

<div class="container mx-auto">
  this page is still in development
</div>